<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Blog Jean Forteroche{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body id="page-top" class="index">
{% block body %}{% endblock %}

<!-- jQuery -->
{% block jquery %}{% endblock %}

<!-- Bootstrap Core JavaScript
     Plugin JavaScript
     Contact Form JavaScript
     Theme JavaScript -->
{% block javascript %}{% endblock %}
</body>
</html>
