{% extends 'templates/base.html.twig' %}

{% block stylesheets %}
<!-- Bootstrap Core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Theme CSS -->
<link href="/css/agency.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
<![endif]-->

{% endblock %}

{% block jquery %}
  <!-- jQuery -->
  <script src="/vendor/jquery/jquery.min.js"></script>
{% endblock %}

{% block javascript %}
  <!-- Bootstrap Core JavaScript -->
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

  <!-- Contact Form JavaScript -->
  <script src="/js/jqBootstrapValidation.js"></script>
  <script src="/js/contact_me.js"></script>

  <!-- Theme JavaScript -->
  <script src="/js/agency.min.js"></script>
{% endblock %}

{% block body %}
<!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="navbar-header page-scroll">
              <a class="navbar-brand page-scroll" href="/#page-top">Blog Forteroche</a>
          </div>
        </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="col-lg-12" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="page-scroll dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Menu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li></li>
                        <li>
                            <a class="page-scroll" href="/#lastchapter">Nouveau chapitre</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/#chapter">Chapitres</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/#about">À Propos</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/#contact">Contact</a>
                        </li>
                    </ul>
                </li>
                <div class="container">
                  {% if session is not null and session.superAdmin %}
                    <li>
                        <strong class="page-scroll">Bienvenue {{ session.login }} :</strong>
                    </li>
                  <ul class="nav navbar-nav">
                    <li class="page-scroll dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Administration <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/chapter/display">Chapitres</a></li>
                            <li><a href="/comment/moderate">Commentaires</a></li>
                        </ul>
                    </li>
                  {% endif %}
                  </ul>
              </div>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

    <!-- Header -->
    <header>
        <div class="container">
          <div class="text-header">Billet Simple Pour <br> L'Alaska</div>
            <div class="head_img">
            </div>
        </div>
    </header>

  {% block container %}{% endblock %}

  <!--Footer Section -->
  <footer>
    <div class="container">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">Copyright &copy; Blog Forteroche 2017</span>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                      <li><a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                    {% if session is not null %}
                      <li><a href="/logout">Se déconnecter</a>
                      </li>
                    {% else %}
                      <li><a href="/login">Connexion</a>
                      </li>
                    {% endif %}
                      <li><a href="#">Privacy Policy</a>
                      </li>
                      <li><a href="#">Terms of Use</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </footer>
{% endblock %}
