{% extends 'templates/base.html.twig' %}

{% block title %}{{ parent }} Register{% endblock %}

{% block content %}
  <form method="post">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="text" name="email"/>
    <input type="text" name="firstname"/>
    <input type="text" name="lastname"/>
    <input type="submit" value="Valider"/>
  </form>
{% endblock %}
