{% extends 'templates/layout.html.twig' %}

{% block title %}{{ parent() }} - Gestion des chapitres{% endblock %}

{% block container %}
  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <h1>Ajouter un chapitre</h1>
        </div>
        <form method="post">
            <div class="form-group">
                <label>Titre du chapitre :</label>
                <input type="text" class="form-control" required name="title"/>
            </div>
            <div class="form-group">
                <label>Contenu du chapitre :</label>
                <textarea class="form-control" required name="content"></textarea>
            </div>
            <div class="form-group">
                <label>Numéro du chapitre :</label>
                <input type="number" class="form-control" required name="chapNum"/>
            </div>
              <button type="submit" class="btn btn-block btn-success">Valider</button>
              <!-- CKEditor -->
              <script src="/ressources/ckeditor/ckeditor.js"></script>
              <script>CKEDITOR.replace('content');</script>
        </form>
    </div>
  </div>
{% endblock %}
