{% extends 'templates/layout.html.twig' %}

{% block content %}
  <div class="col-md-6 col-md-offset-3">
      <div class="jumbotron">
          <h1>Commentaires</h1>
      </div>
      <form method="post">
          <div class="form-group">
              <label>Pseudo :</label>
              <input type="text" class="form-control" required name="pseudo"/>
          </div>
          <textarea rows="4" cols="50"></textarea>
          <button type="submit" class="btn btn-block btn-success">Envoyer</button>
      </form>
  </div>
{% endblock %}
